<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>レシピのタイトル</dt>
  <dd><%= @recipe.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>画像</dt>
  <dd><%= image_tag @recipe.filepath, :width => '200px' %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>レシピのおいたち</dt>
  <dd><%= @recipe.history %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>キャッチコピー</dt>
  <dd><%= @recipe.catch_copy %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>うまく作るコツ</dt>
  <dd><%= @recipe.knack %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>所要時間</dt>
  <dd>約 <%= @recipe.time_required %> 分</dd>
</dl>

<div id="steps">
  <%= render 'steps', :recipe => @recipe %>
</div>


<br /><br />
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

